@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');

* {
    --base-color: var(--ctp-macchiato-base);
    --secondary-pane-color: var(--ctp-macchiato-mantle);
    --surface-color: var(--ctp-macchiato-surface0);
    --surface-lighter-color: var(--ctp-macchiato-surface2);
    --text-color: var(--ctp-macchiato-text);

    margin: 0;
    padding: 0;
    color: var(--text-color);
    box-sizing: border-box;
}

button {
    background-color: var(--surface-color);
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    padding-inline: 0.8em;
    font-size: 100%;
}

button:hover {
    opacity: 0.8;
}

img {
    width: 100%;
    align-self: center;
    border: 0.8em solid var(--surface-color);
    border-radius: 0.5em;
}

ul {
    list-style-type: none;
}

body {
    background-color: var(--base-color);
    margin-bottom: 1em;
}

header {
    background-color: var(--secondary-pane-color);
    padding: 1em;
    font-size: 120%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: end;
    gap: 1em;
}

.active {
    background-color: var(--surface-lighter-color);
}

.home {
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.home>img {
    width: 30em;
}

.title {
    text-align: center;
    font-size: 400%;
    padding: 0.5em;
}

.card {
    background-color: var(--secondary-pane-color);
    margin-inline: 3%;
    padding: 1em;
    flex: 1;
    font-size: 120%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.card>h2 {
    font-size: 200%;
}

.card>img {
    width: 30ch;
}

.quote {
    justify-content: center;
    font-style: italic;

    >.author {
        font-size: 80%;
        align-self: end;
    }
}

.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    margin-block: 1em;
}

.section>h2 {
    font-size: 250%;
    margin-inline: 3%;
    padding: 0.5em;
    background-color: var(--surface-color);
}